<nav class="header"
  <div>
      <span class="home">
          <a href="/maidenschoice"> Homepage </a>

      </span>

      <ul class="navi">

          <% if (currentUser) { %>
            <div class="after-login">
              <li> Welcome <%= currentUser.username %>!</li> <br>
              <a href="/maidenschoice/new" class="add-toy"> <button class="button">Add New Toy</button> </a> 

              <li class="logout">
                  <form action="/sessions?_method=DELETE" method="POST">
                      <button class="button">Log Out</button>
                  </form>
              </li>
              </div>
          <% } else { %>
            <div class="user-options">
              <li><a href="/sessions/new">Log In</a></li>

              <li><a href="/users/new">Sign Up</a></li>
            </div>
          <% } %>
      </ul>
  </div>
</nav>
