  <%- include('./partials/header.ejs') %>
  <%- include('./partials/nav.ejs') %>

    <div class="edit-title">
      <h3>Add A New Toy</h3>
    </div>
    <form class="form" action="/maidenschoice" method="POST" enctype="multipart/form-data">
      <label>
        <span class="input">Name of Toy:</span>
        <input type="text" name="name" required/>
      </label>

      <label>
        <span class="input">Brand of Toy:</span>
        <input type="text" name="brand" required/>
      </label>

      <label>
        <span class="input">Image of Toy:</span>
        <!-- Link <input type="text" name="img" placeholder="Insert Link Here"> -->
        <input type="file" name="img"  required>
        <!-- <input type="submit" value="upload"> -->
      </label>

      <!-- <label>
        <span class="input">Size of Dog:</span>
        <input type="number" name="size"/>
      </label> -->

      <button>Add Toy</button>
    </form>
  <%- include('./partials/footer.ejs') %>
