.clr{
  clear: both;
}
body{
  background-color: #f4f4f4;
  font-family: 'New Tegomin', serif;
  margin-bottom: 0px;
}

/* Nav Bar */
.header{
  height: 70px;
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.home{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.navi {
  width:50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
.user-options{
  word-spacing: 5px;
}

.after-login{
  word-spacing: 5px;
}
.add-toy{
  /* color: white; */
  text-decoration: none;
}

.button{
  background-color: #003b00;
  color: #fff;
  padding: 5px;
  border: none;
}
.button:hover{
  color: black;
  background-color: white;
  border: 2px black solid;
}

/* Main Page */

.title {
  color: purple;
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;

}

.toyList{
  margin: 0 auto;
  list-style: none;
  height: 100%;
  display: flex;
  margin: 10px;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.toyLink{
  text-decoration: none;
  color: #000;
}
.toyLink:hover{
  color: purple;
}
.toyLink:visited{
  color: #000;
}
.toyItem{
  align-items: center;
  margin: 10px;
}
.toyName {
  font-size: 15px;
  text-align: center;
}
.toyImage{
  width:350px;
  height: 95%;
  padding: 0;
}
/* Form */
.form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-title{
  margin-top: 0;
  font-size: 25px;
}
.signup-title{
  margin-top: 0;
  font-size: 25px;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: purple;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: purple;
  text-decoration: underline;
}

/* Show Page */
.show{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 60%;
  margin: 0 auto;
  padding: 45px;
  text-align: center
}
.showName{
  /* font-size: 30px; */
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.brandName{
  text-align: center;
  margin-top: 0;
  padding-top: 0;

}
.showImage{
  width: 50%;
  height: 50%;

}
.btn-group{
  /* height: 20px; */
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 50px;
}
.edit-btn{
  font-size: 15px;
  margin-right: 5px;
}
.edit-btn a{
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.del-btn{
  font-size: 15px;
}

.btn:hover,.btn:active,.btn:focus{
  cursor: pointer;
  background-color: purple;
  color: white;
}
.btn a:hover,.btn a:active,.btn a:focus{
  color: white;
}
/* Review Section */
.review-container{
  position: relative;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  min-width: 350px;
  max-width: 60%;
}

.username-review{
  align-content: center;
  margin-bottom: 5px;
  display: flex;
  justify-content: baseline;

}
.input{
  display: flex;
  align-content: flex-start;
}
textarea{
  align-self:stretch;
  width:100%;
}


/* Edit Page */
.edit-title{
  max-width: 65%;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}

.footer {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}
